/* button {
  padding: 10px 20px;
  margin: 10px;
  background-color: black;
  color: white;
}

h1 {
  background-color: gray;
  width: fit-content;
  font-size: 100px;
  padding: 10px 80px;
  border-radius: 5px;
  margin: 10px;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

input, button {
  padding: 20px;
  margin-top: 50px;
} */


/* UseContext */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}

.light {
  background-color: lightseagreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
}

.dark {
  background-color: darkslategrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
}


.nav2 {
  display: flex;
  gap: 30px;
}